# Build ve Geçici Dosyalar
target/
build/
*.class
*.log

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# IDE Ayarları
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# GİZLİLİK (Kritik)
.env
.env.local
application-local.properties

# Sistem Dosyaları
.DS_Store
Thumbs.db